
.dashboard-sidebar {
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-sidebar-links {
  list-style-type: none;

}

.dashboard-sidebar-sublinks {
  list-style-type: none;
}

.dashboard-sidebar-link {
  padding: 5px 0px;
  margin: 10px 0;
}

.dashboard-sidebar-link a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}

.dashboard-sidebar-link a span i::before{
  transition: 0.4s ease;
}

.dashboard-sidebar-link.dashboard-sidebar-link--active a span i::before{
  transform: rotate(90deg);
}

.dashboard-sidebar-sublink {
  font-size: 0.8rem;
  padding: 5px 0px;
  margin: 10px 0px;
}

.dashboard-sidebar-sublink a{
  color: white !important;
  text-decoration: none;
  cursor: pointer;
  margin: 10px 0px;
}

.dashboard-sidebar-link div.dropdown-container {
  padding-left: 20px;
  max-height: 0px;
  overflow: hidden;
  background-color: var(--submenu-colour);
  transition: 0.3s ease;
}

.dashboard-sidebar-link.dashboard-sidebar-link--active div.dropdown-container {
  display: block;
  height: 100%;
  max-height: max-content;
  background-color: var(--submenu-colour);
}

.dashboard-sidebar-link a:hover{
  color: var(--primary-colour);
  text-decoration: none;
}

.dashboard-sidebar-link--active a{
  color: var(--primary-colour);
}

.dashboard-sidebar-sublink a:hover{
  color: var(--primary-colour) !important;
  text-decoration: none;
}

.dashboard-sidebar-sublink--active a{
  color: var(--primary-colour) !important;
}

div.dashboard-content {
  padding-top: 35px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dashboard-content-row {
  display: flex;
  overflow-x: hidden;
  padding-right: 10px;

  margin: 15px 0 10px;
}

div.dashboard-content-header{
  display: flex;
  justify-content: end;
  padding: 25px 15px 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: var(--primary-colour) solid;
}

div.dashboard-content .dashboard-content-container {
  background-color: white;
  border-radius: 14px;
  padding: 30px 15px 10px;
}

div.dashboard-content .dashboard-content-ongoing {
  background-color: var(--secondary-colour);
  border-radius: 14px;
  color: white;
}

div.dashboard-content .dashboard-content-ongoing .dashboard-content-header{
  flex-direction: column;
  color: white;
}

p.ongoing-type{
  text-align: center;
  font-weight: 700;
  font-size: 0.7rem;
  background-color: var(--primary-colour);
  width: min-content;
  padding: 10px;
  align-self: end;
}

p.ongoing-name {
  font-weight: 600;
}

p.ongoing-name span{
  color: var(--primary-colour);
}

button.ongoing-action {
  width: 6rem;
  padding: 5px 2px;
  font-weight: 700;
  color: white;
  background-color: var(--primary-colour);
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
}

button.ongoing-action:hover {
  width: 6.1rem;
  padding: 5px 2px;
  font-weight: 700;
}

div.dashboard-content-section{
  padding: 20px 25px 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow-y: scroll;
  max-height: 150px;
}

div.dashboard-content-section .section-container{
  width: 30%;
  min-height: 65px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: var(--secondary-colour);
  margin-left: 10px;
  border-radius: 12px;
}

div.dashboard-content-section .section-container div{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;  
}

div.dashboard-content-section .section-container i{
  font-size: 2.5rem;  
}

div.dashboard-content-section .section-container div .heading{
  font-size: 0.65rem;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 16px;
  padding: 2px 5px;
  margin-bottom: 10px;
}

div.dashboard-content-section .section-container div .main-text{
  color: white;
  font-size: 1.15rem;
  font-weight: 400;
  text-align: end;
  margin-bottom: 0;
}

.section-header {
  font-weight: 600;
  font-size: 1rem;
  border-bottom: var(--secondary-colour) 1px solid;
}

.section-row {
  display: flex;
  width: 100%;
}

.section-row a {
  
}

.section-row a:hover {
  padding-left: 10px;
  cursor: pointer;
}

.section-leading {
  justify-content: start;
  width: 20%;
  font-weight: 700;
  font-size: 0.85rem;
}

.section-title {
  justify-content: start;
  width: 65%;
  font-weight: 700;
  font-size: 0.9rem;
}

.section-subtitle {
  font-size: 0.65rem;
  font-weight: bold;
  color: "#b0b6bf";
}

.section-trailing {
  justify-content: end;
  width: 15%;
  font-size: 1.15rem;
  font-weight: bold;
  align-items: end;
}

.dashboard-timetable {
  border-left: var(--secondary-colour) solid 2px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
  flex-direction: column;
}

.dashboard-timetable-date {
  display: flex;
  padding-right: 10px;
  padding-top: 15px;
  justify-content: end;
  align-items: end;
}

.dashboard-timetable-date.week {
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  align-items: end;
}

.dashboard-timetable-week{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  list-style: none;
}

li.dashboard-timetable-weekday{
  font-size: 0.7rem;
  text-align: center;
  display: flex;
  padding: 10px;
  border-radius: 12px;
  width: 46px;
  flex-direction: column;
  align-items: center;
}

li.dashboard-timetable-weekday span{
  font-size: 1rem;
  font-weight: bold;
}

li.dashboard-timetable-weekday--active{
  background-color: black;
  color: white;
}

.dashboard-timetable-item {
  display: flex;
}

.dashboard-timetable-item .time-row{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 5px;
}

.dashboard-timetable-item .class{
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: var(--primary-colour) solid 2px;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.dashboard-timetable-item .class .class-name {
  font-size: 0.95rem;
  font-weight: bold;
}

.dashboard-timetable-item .class .class-teacher {
  font-size: 0.8rem;
}

.sidebar-form-group {
  width: 100%;
  margin: 10px;
  padding: 5px 10px;
}

.sidebar-form-group input[type=submit] {
  width: 100%;
  height: 40px;
  border: none;
  background-color: var(--primary-colour);
}