@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  font-family: "Montserat";
  color: #546E7A;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

/* These were affecting other styles */

/* For the Scroll Panels */
.p-scrollpanel .p-scrollpanel-wrapper {
  border-right: 10px solid var(--surface-ground);
}

.p-scrollpanel .p-scrollpanel-bar {
  background-color: var(--primary-300);
  opacity: 1;
  transition: background-color .3s;
}

.p-scrollpanel .p-scrollpanel-bar:hover {
  background-color: var(--primary-400);
}

.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-wrapper {
  border-right: 10px solid var(--surface-50);
  border-bottom: 10px solid var(--surface-50);
}

.scrollpanel-demo .p-scrollpanel.custombar2 .p-scrollpanel-bar {
  background-color: var(--surface-300);
  border-radius: 0;
  opacity: 1;
  transition: background-color .3s;
}

.scrollpanel-demo .col-12 {
  padding: 2rem;
}

